/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* jQuery Modal */
/* https://github.com/kylefox/jquery-modal */
.modal {
  display: none;
  width: 80%;
  background: #fff;
  padding: 15px 30px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(close.png) no-repeat 0 0;
}
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/**
 * Generic elements.
 */
input, option, select {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, li, dt, dd {
  line-height: 1.2em;
}
p {
  margin-bottom: 0.5em;
}
hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 1.5em 0;
}
.hide {
  display: none;
}
.list-unstyled {
  list-style-type: none;
}
.text-muted {
  color: #999;
}
input[type=text] {
  padding: 0.2em 5px 0.3em 5px;
}
.button {
  display: inline-block;
  text-align center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.5em 15px;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0px;
  color: #fff;
  background: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button:hover,
.button:focus {
  text-decoration: none;
  background: #333;
}
.button:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.button-cancel {
  background: #999999;
}
.button-submit {
  background: #60BD68;
}
.button-cancel:hover {
  background: #7D7D7D;
}
.button-submit:hover {
  background: #48A851;
}
.button-group {
  padding-top: 1em;
  clear: both;
  text-align: right;
}
.button-group .button {
  margin-right: 20px;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 20px;
}
#loaded {
  display: none;
}
#chart {
  margin: 1em 0 1.5em 0;
}

/* CHART */
.axes {
  color: #aaa;
  font-size: 11px;
}
.axis path,
.axis line,
.line.grid {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.line.grid {
  stroke: #f6f6f6;
}
.axis text {
  fill: #999;
}
.line {
  fill: none;
  stroke-width: 0.5px;
  clip-path: url(#clip);
  stroke: #000;
}
.context .line {
  stroke-width: 0.2px;
}

.brush .extent {
  stroke: #ddd;
  fill-opacity: .01;
  shape-rendering: crispEdges;
}

/* KEY */
.key-line {
  float: left;
	border-top-width: 2px;
  border-top-style: solid;
  margin: 0 15px;
  min-width: 200px;
}
.key-no-data {
  display: none;
}

/* Pop-up.*/

#line-edit {
  height: 80%;
  position: relative;
  overflow: hidden;
}
#line-edit-body {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 30px 6em 30px;
  width: 100%;
  height: 100%;
}
#line-edit-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 63px;
  padding: 10px 30px 10px 30px;
  background: #f9f9f9;
  border-top: 3px solid #000; 
}

.line-edit-col {
  float: left;
}
/* Defaults at really wide widths.
 * Activities list is split into two columns. */
#line-edit     { width: 1130px; }
#line-edit-col-1 { width: 330px; margin-right: 30px; }
#line-edit-col-2 { width: 690px; }
#le-activities-list ul { float: left; margin: 0 30px 0 0; }
#le-activities-list ul.last { margin-right: 0; }
#le-activities-list li { width: 330px; }
.le-notes-hr { display: none; }

/* At more sensible desktop widths.
 * Collapse activities into a single column. */
@media only screen and (max-width: 1200px) {
  #line-edit     { width: 770px; }
  #le-activities-list ul { float: none; margin-right: 0; }
  #line-edit-col-2 { width: 330px; }
}

/* At narrower widths, collapse the two columns into a single one. */
@media only screen and (max-width: 820px) {
  /* Collapse columns. */
  #line-edit     { width: 420px; }
  .line-edit-col { float: none; }
  .le-notes-hr { display: block; }
}
#line-edit h2 {
  font-weight: normal;
}
#line-edit h3 {
  color: #333;
  margin: 1em 0 0.5em 0;
}
#le-people-with-list {
  display: none;
}
#le-notes {
  width: 95%;
}
ul.muted-labels label {
  margin-left: 5px;
}
.le-select-label {
  display: inline-block;
  width: 75%;
}
.le-select-field {
  display: inline-block;
  width: 20%;
}

