*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 20px;
}
#loaded {
  display: none;
}
#container {
  margin: 1em 0 1.5em 0;
}

/* CHART */
.axes {
  color: #999;
  font-size: 11px;
}
.axis path,
.axis line,
.line.grid {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.line.grid {
  stroke: #f6f6f6;
}
.axis text {
  fill: #999;
}
.line {
  fill: none;
  stroke-width: 0.5px;
  clip-path: url(#clip);
}
	.line.happy {
		stroke: #dc3a2d;
	}
	.line.relaxed {
		stroke: #2e5aa9;
	}
	.line.awake {
		stroke: #518d48;
	}
.context .line {
  stroke-width: 0.2px;
}

.brush .extent {
  stroke: #ccc;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

